h1{
text-align: center;
padding-top: 50px;
}

#task{
    text-align: center;
}
button{
    padding-left: 90%;
}
#id{
    width: 20000rem;
}
.card{
    background-color: rgb(243, 142, 142);

}
body{
    background-color: bisque;
}
.button-close{
    background-color: transparent;
    border: 0;
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 2px;
    border-radius: 50%;
    transition: all 0.2s ease-in;
    
}
